.app-container {
  background-color: #21D4FD;
  background-image: linear-gradient(247deg, #21D4FD 0%, #B721FF 100%);
  box-sizing: border-box;
  padding: 48px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #21d5fd93; 
  border-radius: 14px;
  padding: 5px 0;
}